{{> header }}
<section class="hero-area bg-img bg-overlay-2by5" style="background-image: url(img/bg-img/bg1.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <!-- Hero Content -->
        <div class="hero-content text-center">
          <h2>Hãy học cùng nhau</h2>
          <a href="#" class="btn clever-btn">Bắt đầu</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Cool Facts Area Start ##### -->
<section class="cool-facts-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
          <div class="icon">
            <img src="img/core-img/docs.png" alt="">
          </div>
          <h2><span class="counter">1912</span></h2>
          <h5>Câu chuyện thành công</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
          <div class="icon">
            <img src="img/core-img/star.png" alt="">
          </div>
          <h2><span class="counter">123</span></h2>
          <h5>Giáo viên tận tâm</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
          <div class="icon">
            <img src="img/core-img/events.png" alt="">
          </div>
          <h2><span class="counter">89</span></h2>
          <h5>Sự kiện</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
          <div class="icon">
            <img src="img/core-img/earth.png" alt="">
          </div>
          <h2><span class="counter">56</span></h2>
          <h5>Khóa học</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Cool Facts Area End ##### -->

<!-- ##### Popular Courses Start ##### -->
<section class="popular-courses-area section-padding-100-0" style="background-image: url(img/core-img/texture.png);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Các khóa học trực tuyến phổ biến</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Popular Course -->
      {{#each listCourse}}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
          <a href="/single-course/{{course_id}}"><img src="img/bg-img/c1.jpg" alt=""></a>
          <!-- Course Content -->
          <div class="course-content">
            <a style="color: black;" href="/single-course/{{course_id}}"><h4>{{course_name}}</h4></a>
            <div class="meta d-flex align-items-center">
              <a href="#">{{account_first_name}} {{account_last_name}}</a>
              <span><i class="fa fa-circle" aria-hidden="true"></i></span>
              <a href="#">{{subject_name}}</a>
            </div>
            <p>{{course_description}}
            </p>
          </div>
          <!-- Seat Rating Fee -->
          <div class="seat-rating-fee d-flex justify-content-between">
            <div class="seat-rating h-100 d-flex align-items-center">
              <div class="seat">
                <i class="fa fa-user" aria-hidden="true"></i> 10
              </div>
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i> 4.5
              </div>
            </div>
            <div class="course-fee h-100">
              <a href="#" class="free">{{course_price}}đ</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<!-- ##### Popular Courses End ##### -->

<!-- ##### Best Tutors Start ##### -->
<section class="best-tutors-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Những giáo viên tốt nhất</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="tutors-slide owl-carousel wow fadeInUp" data-wow-delay="250ms">

          {{#each listInstructor}}
          <!-- Single Tutors Slide -->
          <div class="single-tutors-slides">
            <!-- Tutor Thumbnail -->
            <div class="tutor-thumbnail">
              <img src="img/bg-img/t5.png" alt="">
            </div>
            <!-- Tutor Information -->
            <div class="tutor-information text-center">
              <h5>{{account_first_name}} {{account_last_name}}</h5>
              <span>Giáo viên</span>
              <div>
                 <div>Địa chỉ: {{account_address}}  </div>                 
                 <div>Số điện thoại: {{account_phone}}</div> 
                 <div>Email: {{account_email}}</div> 
              </div>
              <div class="social-info">
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Best Tutors End ##### -->

<!-- ##### Register Now Start ##### -->
<section class="register-now section-padding-100-0 d-flex justify-content-between align-items-center"
  style="background-image: url(img/core-img/texture.png);">
  <!-- Register Contact Form -->
  <div class="register-contact-form mb-100 wow fadeInUp" data-wow-delay="250ms">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="forms">
            <h4>Các khóa học miễn phí</h4>
            <form action="#" method="post">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="text" placeholder="Name">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="phone" placeholder="Phone">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="site" placeholder="Site">
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn clever-btn w-100">Gửi yêu cầu</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Now Countdown -->
  <div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
    <h3>Đăng kí ngay</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris
      ultrices vitae. Donec bibendum tortor sed mi faucibus vehicula. Sed erat lorem</p>
    <!-- Register Countdown -->
    <div class="register-countdown">
      <div class="events-cd d-flex flex-wrap" data-countdown="2019/03/01"></div>
    </div>
  </div>
</section>
<!-- ##### Register Now End ##### -->

<!-- ##### Upcoming Events Start ##### -->
<section class="upcoming-events section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Các sự kiện sắp tới</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Upcoming Events -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-upcoming-events mb-50 wow fadeInUp" data-wow-delay="250ms">
          <!-- Events Thumb -->
          <div class="events-thumb">
            <img src="img/bg-img/e1.jpg" alt="">
            <h6 class="event-date">26 tháng 8</h6>
            <h4 class="event-title">Ngày kết nối</h4>
          </div>
          <!-- Date & Fee -->
          <div class="date-fee d-flex justify-content-between">
            <div class="date">
              <p><i class="fa fa-clock"></i> 26 tháng 8 @ 9:00 am</p>
            </div>
            <div class="events-fee">
              <a href="#">$45</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Upcoming Events -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-upcoming-events mb-50 wow fadeInUp" data-wow-delay="500ms">
          <!-- Events Thumb -->
          <div class="events-thumb">
            <img src="img/bg-img/e2.jpg" alt="">
            <h6 class="event-date">7 tháng 8</h6>
            <h4 class="event-title">Ngày mở cửa</h4>
          </div>
          <!-- Date & Fee -->
          <div class="date-fee d-flex justify-content-between">
            <div class="date">
              <p><i class="fa fa-clock"></i> 7 tháng 8 @ 9:00 am</p>
            </div>
            <div class="events-fee">
              <a href="#" class="free">Miễn phí</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Upcoming Events -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-upcoming-events mb-50 wow fadeInUp" data-wow-delay="750ms">
          <!-- Events Thumb -->
          <div class="events-thumb">
            <img src="img/bg-img/e3.jpg" alt="">
            <h6 class="event-date">3 tháng 8</h6>
            <h4 class="event-title">Nhà lãnh đạo sáng tạo</h4>
          </div>
          <!-- Date & Fee -->
          <div class="date-fee d-flex justify-content-between">
            <div class="date">
              <p><i class="fa fa-clock"></i> 3 tháng 8 @ 9:00 am</p>
            </div>
            <div class="events-fee">
              <a href="#">$45</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Upcoming Events End ##### -->

<!-- ##### Blog Area Start ##### -->
<section class="blog-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Từ Blog của chúng tôi</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Blog Area -->
      <div class="col-12 col-md-6">
        <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="250ms">
          <img src="img/blog-img/1.jpg" alt="">
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="#" class="blog-headline">
              <h4>Ngữ pháp tiếng Anh</h4>
            </a>
            <div class="meta d-flex align-items-center">
              <a href="#">Tê Tê</a>
              <span><i class="fa fa-circle" aria-hidden="true"></i></span>
              <a href="#">Thiết kế nghệ thuật</a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis
            </p>
          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-md-6">
        <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="500ms">
          <img src="img/blog-img/2.jpg" alt="">
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="#" class="blog-headline">
              <h4>Ngữ pháp tiếng Anh</h4>
            </a>
            <div class="meta d-flex align-items-center">
              <a href="#">Phấn Thị</a>
              <span><i class="fa fa-circle" aria-hidden="true"></i></span>
              <a href="#">Thiết kế nghệ thuật</a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{> footer }}
<!-- ##### Blog Area End ##### -->