{{> header }}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area">
  <!-- Breadcumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="#">Khóa học</a></li>
      <li class="breadcrumb-item active" aria-current="page">Luyện thi đại học</li>
    </ol>
  </nav>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Instructors Video Start ##### -->
<div class="instructors-video d-flex align-items-center justify-content-center bg-img"
  style="background-image: url(img/bg-img/bg4.jpg);">
  <h2>Hãy là giáo viên tốt nhất</h2>
  <!-- video btn -->
  <a href="https://www.youtube.com/watch?v=qC_T9ePzANg" class="video-btn"><i class="fa fa-play"
      aria-hidden="true"></i></a>
</div>
<!-- ##### Instructors Video End ##### -->

<!-- ##### Best Tutors Area Start ##### -->
<section class="best-tutors-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Những giáo viên tốt nhất</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="tutors-slide owl-carousel">
          {{#each listInstructor}}
          <!-- Single Tutors Slide -->
          <div class="single-tutors-slides">
            <!-- Tutor Thumbnail -->
            <div class="tutor-thumbnail">
              <img src="img/bg-img/t5.png" alt="">
            </div>
            <!-- Tutor Information -->
            <div class="tutor-information text-center">
              <h5>{{account_first_name}} {{account_last_name}}</h5>
              <span>Giáo viên</span>
              <div>
                 <div>Địa chỉ: {{account_address}}  </div>                 
                 <div>Số điện thoại: {{account_phone}}</div> 
                 <div>Email: {{account_email}}</div> 
              </div>
              <div class="social-info">
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Best Tutors Area End ##### -->

<!-- ##### Top Teacher Area Start ##### -->
<section class="top-teacher-area section-padding-0-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Top giáo viên mỗi môn</h3>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Single Teacher -->

      {{#each listInstructor}}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-instructor d-flex align-items-center mb-30">
          <div class="instructor-thumb">
            <img src="img/bg-img/t2.png" alt="">
          </div>
          <div class="instructor-info">
            <h5>{{account_first_name}} {{account_last_name}}</h5>
            <span>Giáo viên</span>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<!-- ##### Top Teacher Area End ##### -->
{{> footer }}