{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{{/section}}

<!-- ##### Header Area Start ##### -->
<header class="header-area">

  <!-- Top Header Area -->
  <div class="top-header-area d-flex justify-content-between align-items-center">
    <!-- Contact Info -->
    <div class="contact-info">
      <a href="#"><span>Phone:</span> +44 300 303 0266</a>
      <a href="#"><span>Email:</span> info@clever.com</a>
    </div>
    <!-- Follow Us -->
    <div class="follow-us">
      <span>Follow us</span>
      <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>

  <!-- Navbar Area -->
  <div class="clever-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <!-- Menu -->
      <nav class="classy-navbar justify-content-between" id="cleverNav">

        <!-- Logo -->
        <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt=""></a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

          <!-- Close Button -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

          <!-- Nav Start -->
          <div class="classynav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/courses">Courses</a>
                <ul class="dropdown">
                  {{#each ListSub}}
                  <li><a href="/course/{{subject_id}}">{{subject_name}}</a></li>
                  {{/each}}
                </ul>
              </li>
              <li><a href="/instructor">Instructors</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <!-- Search Button -->
            <div class="search-area">
              <form action="#" method="post">
                <input type="search" name="search" id="search" placeholder="Search">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </div>

            {{#if user}}
            <form action="/logout" method="post" id="frmSignout"></form>
            <div class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/30x30">
                <span class="text-gray" style="font-weight: 600;">{{user.account_first_name}}
                  {{user.account_last_name}}</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript: $('#frmSignout').submit();">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </div>
            {{else}}
            <!-- Register / Login -->
            <div class="register-login-area">
              <a href="/register" onclick="register()" class="register-btn btn">Register</a>
              <a href="/login" onclick="login()" class="login-btn btn">Login</a>
            </div>
            {{/if}}
          </div>
          <!-- Nav End -->
        </div>
      </nav>
    </div>
  </div>
</header>
<script>
  function register() {
    document.getElementsByClassName("register-btn").classList.add("active");
    document.getElementsByClassName("login-btn").classList.remove("active");
  }
  function login() {
    document.getElementsByClassName("register-btn").classList.remove("active");
    document.getElementsByClassName("login-btn").classList.add("active");
  }
</script>
<!-- ##### Header Area End ##### -->